header {
    color: white;
    text-align: center;
    background-color:#343330;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
}

body{
    font-family: sans-serif;
    font-size: 120%;
    background-color: #FCF7F8;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-inline-start: 40px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.m_left {
   flex: 20%;
    background-color: rgb(22, 78, 22);
    width: 20%;
    flex: 0 0 10px;
}

.m_content {
    flex:80%;
    padding-inline-start: 40px;
    width: 80%;
    flex: 10;
}

#Img {
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;  
}

Img {
        border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;  
}

#navbar{
    color:white;
    list-style-type: none;
    padding-right: 20;
    padding-left: 10;
}
a{
    text-align: center;
}

#menu{
    color: white;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

footer {
    color: white;
    padding: 1rem;
    background-color: #343330;
    justify-content: center;
    text-align: center;
}
